@import "common";

@mixin emote-css-animation(
    $name,
    $duration,
    $repeat,
    $can-animate-forever: false) {

    .chat-emote-#{$name} {
        animation: #{$name} $duration $repeat;

        &:hover {
            animation: #{$name} $duration infinite;
        }

        @if($can-animate-forever) {
            &-animate-forever {
                animation: #{$name} $duration infinite;
            }
        }
    }

    @at-root {
        @keyframes #{$name} {
            @content;
        }
    }
}

@include emote-css-animation(OverRustle, 100ms, 7) {
    0% { left: 0 }
    100% { left: 3px }
}

@include emote-css-animation(MLADY, 250ms, 3) {
    0% {
        transform: rotate(0deg);
        transform-origin: 4px bottom;
    }
    30% {
        transform: rotate(20deg);
        transform-origin: 4px bottom;
    }
    80% {
        transform: rotate(-10deg);
        transform-origin: 4px bottom;
    }
    100% {
        transform: rotate(0deg);
        transform-origin: 4px bottom;
    }
}

@include emote-css-animation(SpookerZ, 250ms, 3) {
    0% {
        transform: translate(0px 0px);
    }
    25% {
        transform: translate(0px,4px)
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
        transform-origin: 4px bottom;
    }
}

@include emote-css-animation(DANKMEMES, 1s, 2) {
    0%, 100% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    50% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@include emote-css-animation(WEEWOO, 1.5s, 1) {
    0%, 100% {
        opacity: 1;
    }
    10% {
        opacity: 0.5;
        -webkit-filter: hue-rotate(0deg) ;
        filter: hue-rotate(0deg) ;
    }
    11% {
        -webkit-filter: hue-rotate(170deg) ;
        filter: hue-rotate(170deg) ;
    }
    35% {
        opacity: 1
    }
    50% {
        opacity: 0.2;
        -webkit-filter: hue-rotate(170deg) ;
        filter: hue-rotate(170deg) ;
    }
    51% {
        -webkit-filter: hue-rotate(310deg) ;
        filter: hue-rotate(310deg) ;
    }
    65% {
        opacity: 1;
    }
    90%{
        opacity: 0.2;
        -webkit-filter: hue-rotate(310deg) ;
        filter: hue-rotate(310deg) ;
    }
    91% {
        -webkit-filter: hue-rotate(0deg) ;
        filter: hue-rotate(0deg) ;
    }
}

@include emote-css-animation(Nappa, 750ms, 1) {
    0% {
        transform: translate(0px 0px) scale(0.5);
    }
    5%,15%,25%,35% {
        transform: translate(0px,3px)
    }
    15%,35%,55% {
        transform: translate(0px,-3px)
    }
    10%,20%,30%,40%,50%{
        transform: translate(3px,0px)
    }
    15.1% {
        transform: scale(0.5);
        -webkit-filter: hue-rotate(-5deg);
        filter: hue-rotate(-5deg);
    }
    30.1% {
        transform: scale(0.75);
        opacity: 0.75;
        -webkit-filter: hue-rotate(-15deg) saturate(125%);
        filter: hue-rotate(-5deg) saturate(125%);;

    }
    60%{
        transform: scale(1.25);
        -webkit-filter: hue-rotate(-25deg) saturate(150%);
        filter: hue-rotate(-25deg) saturate(150%);;

        opacity: 0.75;
    }
    70%{
        opacity: 0;
    }
    90%{
        opacity: 0;
        transform: scale(0.1);
    }
    100%{
        transform: translate(0px,0px) scale(1.0);
        opacity: 1;
    }
}

@include emote-css-animation(Hhhehhehe, 500ms, 1) {
    0% {
        transform: translate(0px, 0px) rotate(-0deg);
    }
    20% {
        transform: translate(0px, 3px) rotate(-6deg);
    }
    40% {
        transform: translate(0px, 0px) rotate(-0deg);
    }
    60% {
        transform: translate(0px, 3px) rotate(-6deg);
    }
    80% {
        transform: translate(0px, 0px) rotate(-0deg);
    }
    100% {
        transform: translate(0px, 3px) rotate(-6deg);
    }
}

@include emote-css-animation(REE, 100ms, 7) {
    from { left: 0; }
    to { left: 3px; }
}

@keyframes flash {
    0%, 50%, 100% { opacity: 1 }
    25%, 75% { opacity: 0 }
}

@keyframes emote-hit {
    0% { color: #B91010; font-size:200%; }
    1% { color: $color-light; font-size:190%; }
    2% { color: #B91010; font-size:200%; }
    3% { color: $color-light; font-size:190%; }
    4% { color: #B91010; font-size:200%; }
    100% { color: $color-light; font-size:120%; }
}

@keyframes rustle {
    from { left: 0; }
    to { left: 3px; }
}

@keyframes dankmemes-anim {
    0%, 100% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    50% {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

@keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100%{ -webkit-transform: rotate(-360deg); }
}

@keyframes Shekels-anim {
    0% {
        top: -25px;
    }
    99% {
        top: 30px;
    }
    100%{
        top: -25px;
    }
}

.chat-emote.chat-emote-NOBULLY:hover {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

@include emote-css-animation(ITSRAWWW, 100ms, 7) {
  from {
    left: 0;
  }

  to {
    left: 2px;
  }
}

@include emote-css-animation(DJPepo, 500ms, 7, true) {
    0% { top: 10; }
    100% { top: 12px; }
}

$spritesDir : '../../emotes/emoticons-animated/';

@mixin sprite-animation(
        $file-name,
        $frame-count,
        $sprite-width,
        $sprite-height,
        $animation-length,
        $repeat,
        $file-ext: '.png') {

    $path: $spritesDir + $file-name + $file-ext;

    @keyframes #{$file-name}-anim {
        100% { background-position: -#{$sprite-width}; }
    }

    .chat-emote-#{$file-name}{
        width: $sprite-width / $frame-count;
        height: $sprite-height;
        margin-top: -$sprite-height;
        background: url($path) left center;
        animation: #{$file-name}-anim $animation-length steps($frame-count) $repeat;

        &:hover {
            animation: #{$file-name}-anim $animation-length steps($frame-count) infinite;
        }

        &-animate-forever {
            animation: #{$file-name}-anim $animation-length steps($frame-count) infinite;
        }
    }
}

@include sprite-animation(
    $file-name: MiyanoHype,
    $frame-count: 10,
    $sprite-width: 320px,
    $sprite-height: 32px,
    $animation-length: 800ms,
    $repeat: 3
);

@include sprite-animation(
    $file-name: Clap,
    $frame-count: 2,
    $sprite-width: 44px,
    $sprite-height: 32px,
    $animation-length: 400ms,
    $repeat: 5
);

@include sprite-animation(
    $file-name: COGGERS,
    $frame-count: 60,
    $sprite-width: 1920px,
    $sprite-height: 32px,
    $animation-length: 800ms,
    $repeat: 2
);

@include sprite-animation(
    $file-name: CuckCrab,
    $frame-count: 126,
    $sprite-width: 4032px,
    $sprite-height: 30px,
    $animation-length: 4000ms,
    $repeat: 2
);

@include sprite-animation(
    $file-name: RaveDoge,
    $frame-count: 29,
    $sprite-width: 1276px,
    $sprite-height: 30px,
    $animation-length: 2000ms,
    $repeat: 3
);
